@model List<bowling_tournament_MVCPRoject.UI.ReadModels.RegistrationListItem>

@{
	ViewData["Title"] = "Team List";
}


<div class="text-center justify-content-center row">
	<h3>The NBCC Bowling League</h3>
	@if (User.Identity != null && User.Identity.IsAuthenticated)
	{
		<p><a class="btn-primary btn" asp-controller="Admin" asp-action="TeamListAdmin">Admin Team Management</a></p>
	}
	<div>
		@foreach (var division in Model.GroupBy(division => division.team.teamDivision))
		{
			<h4 class="align-middle">@division.Key</h4>
			<table class="table table-responsive">
				<thead>
					<tr>
						<th>Team</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var registration in Model.Where(t => t.team.teamDivision == division.Key))
					{
						<tr>
							<td>@registration.team.teamName</td>
							<td>
								<a class="btn-primary btn" asp-action="Details" asp-route-id="@registration.team.id"><i class="bi bi-search"></i> View</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
</div>
