@using bowling_tournament_MVCPRoject.ViewModels
@model TeamCreateVm

<div class="justify-content-center row">
    <h3 class="text-center pb-3">Team Registration</h3>

    <form asp-controller="Home" asp-action="Register" method="post" class="col-6">

        <div class="row mb-2">
            <label class="col-4 col-form-label">Team Name:</label>
            <div class="col-8">
                <input name="TeamName" class="form-control" type="text" value="@Model.TeamName" required />
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-4 col-form-label">Division:</label>
            <div class="col-8">
                <select name="DivisionId" class="form-select" required>
                    <option value="">-- Select Division --</option>
                    @foreach (var div in Model.DivisionOptions)
                    {
                        <option value="@div.Value">@div.Text</option>
                    }
                </select>
            </div>
        </div>

        <h4>Players (4 Required):</h4>

        <div id="addPlayerDivRegister"></div>

        <button type="button"
                onclick="addPlayer('addPlayerDivRegister')"
                class="btn btn-primary w-100 mb-2">
            Add Player
        </button>

        @if (!ViewContext.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewContext.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }

        <button type="submit" class="btn btn-success w-100">
            Submit Team Registration
        </button>

    </form>
</div>
