@{
    ViewData["Title"] = "The NBCC Bowling League";
}

<div class="text-center">
    <h1 class="display-5">The NBCC Bowling League</h1>
    <h2>By: Nicholas Perry, Matthew Pyne, Francis Roney</h2>
    <p><a class="btn btn-primary" asp-controller="Home" asp-action="TeamList">Go To The App</a></p>
</div>
